<launch>
  <include file="$(find huruta_pendulum_description)/launch/start_pendulum.launch" />
  <rosparam file="$(find huruta_pendulum_description)/config/pendulum_control.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
    args="Motor_Controller"/>
</launch>
